<p id="notice"><%= notice %></p>

<h3>
  <strong><%= @product.name %></strong>
</h3>


<p>
  <%= link_to image_tag @product.image_url, class: "img-responsive" %>
</p>
</div>


<p>

  <%= @product.description %>
</p>

<p>

  <%= @product.colour %>
</p>

<p>
  <!--<strong>country_of_Origin:</strong>-->

</p>

<p>
  <!--<strong>Season:</strong>-->

</p>

<p>
  Price:
  <strong><%= @product.price %></strong>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
