<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @product.name %></strong>
</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 col-md-7">
      <p>
        <%= link_to image_tag @product.image_url, class: "img-responsive" %>
      </p>

      <p>
        <%= @product.description %>
      </p>

      <p>
        <%= @product.colour %>
      </p>

      <p>
        <!--<strong>country_of_Origin:</strong>-->
      </p>

      <p>
        <!--<strong>Season:</strong>-->
      </p>

      <p>
        Price:
        <strong><%= @product.price %></strong>
      </p>

      <%= render 'new_comment' %>

    </div><!--col-sm-12 col-md-8-->
    <div class="col-sm-1"></div>

    <div class="col-sm-12 col-md-3">

      <h3>Reviews of <%= @product.name %></h3>


        <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div>
        </p>

          <p>
            <%= @product.highest_rating_comment %>
          </p>
          <p>
            <%= @product.lowest_rating_comment %>
          </p>


      <%= render 'comments' %>

      <%= will_paginate @comments %>

    </div><!--col-sm-12 col-md-4-->


    </div><!--row-->
</div><!--container-->

<div class='pull-right'>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
